@{
    ViewBag.Title = "About";
}
<style>
    .config li {
        font-weight: bold;
        padding: 5px;
    }
    .config li:hover a{
        color: green !important;
    }
</style>
<div style="width:60%;padding:10px;margin:0 auto;">
    <h1 style="font-size: 30px">Trang Web kinh doanh tinh dầu thảo dược</h1>
    <br />
    <p style="font-size:20px;color:red">Thông tin liên hệ</p>
    <ul class="config">
        <li><a href="https://www.facebook.com/huyen.nguyen.thu.2008/" style="font-size: 20px;">Nguyễn Thu Huyền - 1811060996</a> </li>
    </ul>
</div>
