
@{
    ViewBag.Title = "View";
}
<style>
    .config li {
        font-weight: bold;
        padding: 5px;
    }

        .config li:hover a {
            color: green !important;
        }
</style>
<div style="width:60%;padding:10px;margin:0 auto;">
    <h1 style="font-size: 30px">Liên hệ</h1>
    <p style="font-size:25px;color:red">Thông tin liên hệ</p>
    <ul class="config">
        
    </ul>
</div>


